@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

#navbar{
    width: 100vw;
    height: 222px;
    background-color: #001d4a;
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0;
}

#Title{
    font-family: 'Aboreto';
    font-size: 40px;
    display: grid;
    grid-column: 2 3;
    justify-content: center;
    align-self: center;
}

#addbutton{
    font-family: 'Aboreto';
    width: 100px;
    text-wrap: wrap;
    text-align: right;
    color: white;
    grid-column: 3 4;
    justify-content: grid;
}

#addbutton:hover{
    color: aqua;
    cursor: pointer;
}

#addbutton:active{
    text-decoration: underline;
}

#homebutton{
    font-family: 'Aboreto';
    width: 100px;
    text-wrap: wrap;
    text-align: left;
    color: white;
    grid-column: 1 2;

}