@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

#navbar{
    width: 100vw;
    height: 222px;
    background-color: #001d4a;
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

#Title{
    font-family: 'Aboreto';
    font-size: 40px;
    grid-column: 2 3;
    text-align: center;
    justify-content: center;
}

#addbutton{
    font-family: 'Aboreto';
    text-wrap: wrap;
    text-align: center;
    color: white;
    grid-column: 3 4;
    justify-content: center;
}

        #addbutton:hover{
            color: aqua;
            cursor: pointer;
        }

        #addbutton:active{
            text-decoration: underline;
        }

#accountbutton{
    font-family: 'Aboreto';
    text-wrap: wrap;
    text-align: center;
    color: white;
    grid-column: 1 2;

}

#accountbutton:hover{
    color: aqua;
    cursor: pointer;
}

#accountbutton:active{
    text-decoration: underline;
}

#logindiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

#titlediv{
    display: flex;
    justify-content: center;
    align-items: center;

}

#adddiv{
    display: flex;
    justify-content: center;
    align-items: center;

}